.buscadorPrincipal {
    color: aliceblue;
    height: 4em;
    width: 100%;
    border-color: rgb(124, 123, 123);
    border-style: ridge;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    background-image: url(./logo.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 64px;
  }